.animacionCaminoResaltado
{
	animation-name: filtroAmarillo;
	animation-iteration-count: infinite;
	animation-duration: 3s;
	animation-direction: reverse;
}

.animacionFlechasVerticales
{
	animation-name: movimientoVertical;
	animation-iteration-count: infinite;
	animation-duration: 1s;
	animation-direction: reverse;
}

.animacionParpadeo
{
	animation-name: parpadeo;
	animation-iteration-count: 2;
	animation-duration: 0.8s;
	animation-direction: reverse;
}

@keyframes filtroAmarillo
{
	0%
	{
		opacity: 0%;
	}

	100%
	{
		opacity: 40%;
	}
}

@keyframes movimientoVertical
{
	0%
	{
		max-height : 5%;
	}

	100%
	{
		max-height : 8%;
	}
}

@keyframes parpadeo
{
	0%
	{
		background-color: white;
	}

	100%
	{
		background-color: aquamarine;
	}
}