#barraSuperior
{
    background-color:#0066ff;
}

#mainContainer
{
    background-color:white;
}

body
{
    background-color:white;
}

#formulario *
{
    display: block;
}

#itemForm
{
	margin-bottom: 20px;
}