.menuNavegacion
{
	background-color: cornflowerblue;
	
}

.menuNavegacion > ul
{
	list-style: none;
}

.menuNavegacion > ul > li
{
	display:inline;
	font-size: 1.5em;

}

.menuNavegacion > ul > li > a
{
	color:black;
}

.menuNavegacion > ul > li > a:hover
{
	background-color: white;
}

#barraSuperior
{
	background-color:#0066ff;
	 margin-bottom: 0px;

}

#mainContainer
{
    background-color:#101010;
}

.separadorSeccion
{
	border: 1px solid cornflowerblue;
}


.formulario  *
{
	display: block;
}

.formulario div
{
	margin-bottom: 15px;
}


.radioContainer *
{
	display:inline;

}




#tituloDeSitio
{
	color: white;
	font-size: 2.75em;
	font-family: Impact, Charcoal, sans-serif;
	text-decoration:none

}

.logoDeSitio
{
	display: inline-block;
}

.itemForm
{
	margin-bottom: 40px;
}

.loader 
{
	border: 8px solid #f3f3f3;
	border-top: 8px solid #0066ff;
	border-radius: 50%;
	width:50px;
	height: 50px;
	animation: spin 2s linear infinite;
}

@keyframes spin
{
	0% 
	{ 
		transform: rotate(0deg); 
	}
	100% 
	{ 
		transform: rotate(360deg); 
	}
}