.contenedorJugador
{
    border-bottom: 2px solid #eaf3f3;
}

.jugadorActivo
{
    background-color:aquamarine;
}

.avatarJugadorFondo
{
    display:inline-block;
    margin-top :5px;
    margin-right: 5px;
}

.parrafoNombre
{
    display: inline;
}

.contenedorFiltroAmarillo
{
    position : absolute;
    background-color: yellow;
    opacity: 0%;
    z-index: 2;
    width : 100%;
    height : 100%;
    top: 0;
    left: 0;
}

#contenedorTablero
{
    height : 100%;
}

body
{
    height: 100%;
}

main
{
    height: 100%;
}

.SelectedImage
{
    border: 5px solid blue;
}

.NonSelectedImage
{
    border: none;
}

.contenedorImagen
{
    display: inline-block;
    position: relative;
    width : 5%;
    height : 5%;
}

.fichaTablero
{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.avatarTablero
{
    z-index: 2;
    position: absolute;
    /*width: 60px;
    left:15px;
    top:15px; */
    bottom: 0px;
    right: 0px;
    height: 30px;
    width: 30px;
}

.tesoroTablero
{
    z-index: 3;
    position: absolute;
    /*width: 60px;*/
    left:5px;
    top:5px;
    /*height: 60px;*/
}

.contenedorFlex
{
    display: flex;
}

article
{
    width: 60%;
    height: 500px;
    padding: 20px;  
}

#contenedorDatos
{

    width: 40%;
    background-color: white;
    padding : 20px;
    height: 100%;

}

.contenedorPrincipal
{
    display:flex;

}


#datosTesoros
{
  
    width: 40%;
}

#datosJugadores
{

    width: 60%;

}

.imagenFichaDatos
{
    margin-bottom: 35px;
    width: 100px;
    height: 100px;
    max-width: 100%;
    height: auto;
    border-style: solid;
    border-radius: 10px;

}

.tituloDato
{
    font-size: 20px;
    margin-bottom: 15px;
}

.datoRespuesta
{
    margin-bottom: 1.25em;
}

#labelTraduccion
{
    display: block;
    font-weight: normal;
    color: darkcyan;
}



