
.SelectedImage
{
    border: 5px solid blue;
}

.NonSelectedImage
{
    border: none;
}

.contenedorImagen
{
    display: inline-block;
    position: relative;
    /*width: 90px;
    height: 90px;*/
}

.fichaTablero
{
    position: relative;
    z-index: 1;
    /*width: 90px;
    height: 90px;*/
    top: 0;
    left: 0;
}

.avatarTablero
{
    z-index: 2;
    position: absolute;
    /*width: 60px;*/
    left:15px;
    top:15px;
    height: 60px;
}

.tesoroTablero
{
    z-index: 3;
    position: absolute;
    /*width: 60px;*/
    left:5px;
    top:5px;
    height: 60px;
}

.contenedorFlex
{
    display: flex;
}

article
{

        width: 60%;
        height: 500px;
        padding: 20px;  
}

#contenedorDatos
{

    width: 40%;
    background-color: white;
    padding : 20px;
    height: 100%;

}

.contenedorPrincipal
{
    display:flex;

}


#datosTesoros
{
  
    width: 50%;
    padding: 20px;

}

#datosJugadores
{

    width: 50%;
    padding: 20px;

}

.imagenFichaDatos
{
    margin-bottom: 35px;
    width: 75px;
    height: 75px;

}

.tituloDato
{
    font-size: 20px;
    margin-bottom: 15px;
}

.datoRespuesta
{
    margin-bottom: 1.25em;
}

#labelTraduccion
{
    display: block;
    font-weight: normal;
    color: darkcyan;
}



