
.SelectedImage
{
    border: 5px solid blue;
}

.NonSelectedImage
{
    border: none;
}

.fichaTablero
{
    width: 90;
    height: 90px;
    margin:0;
    padding:0;
}

.contenedorFlex
{
    display: flex;
}

article
{

        width: 60%;
        height: 500px;
        padding: 20px;  
}

#contenedorDatos
{

    width: 40%;
    background-color: white;
    padding : 20px;
    height: 100%;

}

.contenedorPrincipal
{
    display:flex;

}


#datosTesoros
{
  
    width: 50%;
    padding: 20px;

}

#datosJugadores
{

    width: 50%;
    padding: 20px;

}

.imagenFichaDatos
{
    margin-bottom: 35px;
    width: 75px;
    height: 75px;

}

.tituloDato
{
    font-size: 20px;
    margin-bottom: 15px;
}

.datoRespuesta
{
    margin-bottom: 1.25em;
}

#labelTraduccion
{
    display: block;
    font-weight: normal;
    color: darkcyan;
}



